# Ambiente virtual
.venv/
venv/

# Arquivos de ambiente
.env
*.env
node_modules
__pycache__

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configs do editor
.vscode/
.idea/

# Logs
*.log

# Docker
*.pid
*.seed

# Sistema operacional
.DS_Store
Thumbs.db
