version: "3.9"

services:
  app:
    build: .
    container_name: python_app
    env_file: .env
    depends_on:
      - mongodb
      - rabbitmq
    volumes:
      - ./app:/app/app   
    stdin_open: true
    tty: true
    command: python app/main.py

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Porta para apps Python se conectarem
      - "15672:15672" # Painel de administração
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongo_data:
